/* *{
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
nav{
   background-color: #0082e6;
   height: 80px;
   width: 100%;
}
label.logo{
    color: white;
    font-size: 30px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 50px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background:#1b9bff;
    transition: .5s;
} */